*:focus-visible {
  outline: unset;
  outline-offset: unset;
  box-shadow: unset;
}

.tnt-customer-form__col.tnt-flex {
  gap: 100px;
}

.tnt-customer__form {
  width: 100%;
}

.tnt-form__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}

.tnt-form__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-top: 3px !important;
}

.tnt-field {
  text-align: left;
  margin-bottom: 15px;
}

.tnt-field label {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  margin-bottom: 13px;
  display: inline-block;
}

.tnt-field input {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  border: 1.5px solid #000;
  padding: 17px 20px;
}

.tnt-customer__form button {
  background-color: #ff4848;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 18px;
  margin: 31px 0 1.5rem;
  width: 100%;
}

.tnt-customer__form button:after,
.tnt-customer__form button:before,
.template-login .tnt-footer,
.template-register .tnt-footer {
  display: none;
}

.tnt-customer__form ::placeholder {
  color: #00000066;
}

.tnt-customer__form [type="password"]::placeholder {
  transform: translate(0px, 7px);
}

a.tnt-form__forget-btn,
.tnt-form__signUp-btn,
.tnt-form__signUp-btn a,
a.tnt-recocery-form__back-btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: unset;
}
a.tnt-form__forget-btn {
  width: 100%;
  text-align: end;
}

.tnt-form__signUp-btn {
  gap: 20px;
  line-height: 100%;
  color: #626262;
  padding-top: 31px;
}

.tnt-form__signUp-btn a {
  color: #ff4848;
  margin: unset;
}

.tnt-recovery-form__wrapper .tnt-form__desc {
  margin-top: 15px !important;
}

.tnt-recovery-form__wrapper .tnt-field {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .tnt-customer-form__col.tnt-flex {
    gap: 0px;
    flex-direction: column;
  }
  .tnt-field label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .tnt-field input {
    font-size: 16px;
    padding: 12px 15px;
  }

  a.tnt-form__forget-btn,
  .tnt-form__signUp-btn,
  .tnt-form__signUp-btn a,
  a.tnt-recocery-form__back-btn {
    font-size: 16px;
  }

  .tnt-customer__form button {
    font-size: 16px;
    padding: 12px;
    margin: 31px 0 1rem;
  }

  .tnt-customer-form__image {
    display: none;
  }
}
