.tnt-kids__content-date,
.tnt-kids__content-text {
  font-weight: 700;
  font-size: 13.01px;
  line-height: 13.66px;
  letter-spacing: -0.65px;
  color: #4cabbe;
  text-align: center;
  margin: 0;
}

.tnt-kids__content {
  padding: 24px 32px;
  border-radius: 13px;
  text-align: center;
}

@media (max-width: 768px) {
  .tnt-kids__row .page-width {
    padding-right: 0;
  }

  .tnt-kids__content-img {
    width: 27px;
    height: 30px;
  }

  .tnt-kids__content {
    padding: 24px 20px;
    border-radius: 10px;
  }
  .tnt-kids__row {
    padding: 30px 0;
  }
}
@media (min-width: 769px) {
  /* #tntKidsSwiper .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 20px;
  } */

  #tntKidsSwiper .swiper-slide {
    width: auto !important;
    height: auto;
  }
}

@media (max-width: 768px) {
  #tntKidsSwiper .swiper-wrapper {
    display: flex;
  }

  #tntKidsSwiper {
    padding-bottom: 2rem;
  }

  #tntKidsSwiper .swiper-horizontal > .swiper-pagination-bullets,
  #tntKidsSwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  #tntKidsSwiper .swiper-pagination-custom,
  #tntKidsSwiper .swiper-pagination-fraction {
    bottom: -8px;
  }

  #tntKidsSwiper .swiper-pagination-bullet-active {
    background: var(--primary-color);
  }

  #tntKidsSwiper .swiper-pagination {
    display: inline-block;
  }

  #tntKidsSwiper .swiper-button-next,
  #tntKidsSwiper .swiper-button-prev {
    display: block;
    background: #f9f9f9;
    color: #000;
    border: 1px solid #ececec;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }

  #tntKidsSwiper .swiper-button-next:after,
  #tntKidsSwiper .swiper-button-prev:after {
    font-size: 13px;
  }
}

#tntKidsSwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}
