.tnt-customer-form__col.tnt-flex {
  gap: 100px;
}

.tnt-customer-form__row {
  padding: 34px 0;
}

.tnt-customer__form {
  width: 100%;
}

.tnt-form__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
}
