.drawer__inner.gradient.color-scheme-1 {
  padding: 44px 60px;
  border-radius: 40px 0px 0px 40px;
}

.drawer__heading {
  color: #000;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}

.drawer__header {
  margin-bottom: 42px;
}

.cart-drawer .cart-items thead {
  display: none;
}

.cart-drawer.cart-drawer .cart-item__price-wrapper>*:only-child {
  color: #333;
font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}