* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff4848;
  --white-color: #ffffff;
}

ul,
summary {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  border: unset;
  outline: unset;
}

textarea,
input {
  width: 100%;
}

summary {
  cursor: pointer;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.primary-btn {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  background: #4194e3;
  border-radius: 10px;
  padding: 15px 40px;
  display: inline-block;
  text-align: center;
}

.tnt-flex {
  display: flex;
}

.tnt-align-items-center {
  align-items: center;
}

.tnt-justify-content-center {
  justify-content: center;
}

.tnt-align-items-left {
  align-items: left;
}

.tnt-justify-content-left {
  justify-content: left;
}

.tnt-align-items-right {
  align-items: right;
}

.tnt-justify-content-right {
  justify-content: right;
}

.tnt-align-items-baseline {
  align-items: baseline;
}

.tnt-justify-content-baseline {
  justify-content: baseline;
}

.tnt-justify-content-between {
  justify-content: space-between;
}

.tnt-justify-content-around {
  justify-content: space-around;
}

.tnt-justify-content-evenly {
  justify-content: space-evenly;
}

.tnt-direction-column {
  flex-direction: column;
}

.tnt-direction-row {
  flex-direction: row;
}

.tnt-flex-wrap {
  flex-wrap: wrap;
}

.tnt-flex-nowrap {
  flex-wrap: nowrap;
}

.tnt-grid {
  display: grid;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: space-between;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}