.tnt-product-gallery img {
  height: 461px;
  object-fit: contain;
}

.tnt-product-card {
  border-top: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
}

.tnt-product-card:nth-child(4n) {
  border-right: 1px solid #cdcdcd;
}

.tnt-product-card:nth-last-child(-n + 4) {
  border-bottom: 1px solid #cdcdcd;
}

.tnt-product-card:last-of-type {
  border-right: 1px solid #cdcdcd;
}

#product-grid {
  gap: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tnt-product-info {
  padding: 10px;
  background: #fff;
}

.tnt-product-info h3 {
  color: #333;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}

.tnt-product-price .price--on-sale .price__container>.price__sale {
  display: flex;
  flex-direction: column-reverse;
}

.tnt-product-price .price:not(.price--on-sale) .price__regular,
.tnt-product-price .price--on-sale .price__container>.price__sale .price-item--sale {
  color: #333;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.681px;
  margin-bottom: 6px;
}

.tnt-product-price .price--on-sale .price__container>.price__sale .price-item--regular {
  color: #a4a4a4;
  font-family: Helvetica;
  font-size: 13.185px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.681px;
  text-decoration-line: line-through;
}

.tnt-more-size,
.ew-product-variant-size label span {
  border-radius: 11.599px;
  border: 0.58px solid #000;
  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 9.279px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.677px;
  padding: 6px 9px;
  display: block;
  line-height: normal;
}

.tnt-more-size {
  line-height: normal;
}

.tnt-product-cart-variants span {
  cursor: pointer;
}

.tnt-product-cart-variants input {
  display: none;
}

.tnt-product-cart-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px;
}

.tnt-product-cart-variants {
  padding: 13px 16px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #fff;
  display: none;
}

.ew-product-variant {
  display: flex;
  gap: 5px;
  align-items: center;
}

.tnt-more-color,
.ew-product-variant-color .ew-product-color-radio-single span {
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 30px;
}

.tnt-product-cart-variants .ew-product-variant:not(.ew-product-variant-size) {
  display: none;
}

.tnt-more-color {
  background: #000;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}

.ew-product-variant-color input:checked+label span {
  border: 1px solid #e33654;
}

.ew-product-variant-size input:checked+label span {
  background: #000;
  color: #fff;
}

.tnt-product-gallery {
  position: relative;
}

.tnt-product-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tnt-product-card-button:hover {
  background: #f2f2f2;
}

.tnt-product-card:hover .tnt-product-popup {
  opacity: 1;
  pointer-events: visible;
  cursor: pointer;
}

.tnt-product-card .tnt-product-popup {
  opacity: 0;
  pointer-events: none;
  cursor: none;
  transition: all .3s ease-in-out;
}

.tnt-product-card-button {
  position: relative;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all .3s ease-in-out;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 5px 2px 7px -2px #d2d2d2;
  background: #fff;
}

.tnt-product-card-button svg {
  width: 25px;
  height: 25px;
}

.tnt-product-card {
  transition: all 0.3s ease-in-out;
}

.tnt-product-select {
  display: none;
}

.tnt-product-card {
  padding-top: 5px;
}

.tnt-product-card-button-sold-out {
  color: #000;
  grid-column: span 2;
}

.loader {
  border-top: 6px solid #e33654;
  border-right: 6px solid white;
  border-bottom: 6px solid #e33654;
  border-left: 6px solid white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: block !important;
}

.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000004d;
  z-index: 9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tnt-product-sale-popup {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e33654;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 15px;
}

@media (max-width: 768px) {
  .tnt-product-sale-popup {
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  .tnt-product-gallery img {
    height: 216px;
    margin-bottom: 0;
  }

  .tnt-product-popup {
    display: none !important;
  }

  #product-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .tnt-product-cart-buttons {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 5px;
    padding: 0px 10px 10px;
  }

  .tnt-product-card-button {
    font-size: 11px;
  }

  .tnt-product-popup {
    display: block !important;
    bottom: 0px;
    opacity: 1 !important;
  }

  .tnt-product-popup {
    position: relative !important;
  }

  .tnt-product-card:nth-child(2n) {
    border-right: 1px solid #cdcdcd;
  }

  .tnt-product-card:nth-last-child(-n + 2) {
    border-bottom: 1px solid #cdcdcd;
  }

  .tnt-product-cart-variants {
    display: none;
  }

  .tnt-product-info h3 {
    font-size: 14px;
  }

  .tnt-product-card-button svg {
    width: 15px;
    height: 15px;
  }

  .tnt-product-card-button {
    width: 30px;
    height: 30px;
  }
}