#tnt-collection-page .facets-container {
  border: 1px solid #CDCDCD;
  border-bottom: 0;
  background: #FFF;
  padding: 37px 40px;
}

.facet-filters__label,
#verticalTitle,
.product-count {
  display: none !important;
}

#tnt-collection-page .facets__summary {
  margin: 0;
  border-radius: 24px;
  border: 1px solid #000;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.00);
  padding: 10px 23px;
  box-shadow: none;
  outline: none;
}

#tnt-collection-page summary .icon-caret {
  position: static;
}

#tnt-collection-page summary div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#tnt-collection-page summary span {
  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

#tnt-collection-page .facets__disclosure {
  margin-right: 10px;
}

#tnt-collection-page .facet-filters {
  padding: 0;
  align-items: center;
  justify-content: flex-end;
}

#tnt-collection-page .facet-filters__sort {
  padding: 10px 36px;
  border-radius: 24px;
  border: 1px solid #000;
  opacity: 0.8;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.02px;
  letter-spacing: 0.2px;
  box-shadow: none;
  outline: none;
  text-align: left;
}

#tnt-collection-page .facet-filters__field .svg-wrapper {
  left: 20rem;
  background: #fff;
  top: 7px;
  height: 30px;
}

@media(max-width:768px) {
  #product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}