.drawer__inner.gradient.color-scheme-1 {
  padding: 44px 60px;
  border-radius: 40px 0px 0px 40px;
}

.drawer__heading {
  color: #000;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
}

.drawer__header {
  margin-bottom: 42px;
}

.cart-drawer .cart-items thead {
  display: none;
}


#checkout {
  color: #fff;
  text-align: center;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px;
  margin-top: 20px;
}

#CartDrawer-Checkout {
  margin-top: 20px;
  color: #FFF;
text-align: right;
font-family: Helvetica;
font-size: 17.013px;
font-style: normal;
font-weight: 400;
line-height: normal;
  padding:12px;
}

#checkout,
#CartDrawer-Checkout {
  border-radius: 6.187px;
  background: #ff4848;
}

#checkout:before,
#checkout:after,
#CartDrawer-Checkout:before,
#CartDrawer-Checkout:after {
  display: none;
}

.title-wrapper-with-link,
.cart-items thead {
  display: none;
}

.totals__total {
  color: #737373;
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.9%;
  /* 22.704px */
}

.totals__total-value {
  color: #000;
  text-align: right;
  font-family: Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 76.875%;
  /* 19.988px */
}

.tax-note {
  color: #737373;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.9%;
  text-align: center !important;
}

.cart-item__name {
  color: #333;
  font-family: Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CartDrawer-Form .cart-item__name {
  color: #333;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#CartDrawer-Form .cart-drawer.cart-drawer .cart-item__price-wrapper > *:only-child {
  color: #333;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.cart-item__price-wrapper > * {
  color: #000;
  font-family: Helvetica;
  font-size: 34px !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
