

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Modal wrapper */
#quickview-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* dark transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Hide the modal by default */
#quickview-modal.hidden {
  display: none;
}

.ew-animate-item {
  color: #ff4848;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  from {
    color: #000;
  }

  to {
    color: #ff4848;
  }
}

.ew-colored-item {
  color: #ff4848 !important;
}

.ew-bold-item {
  font-weight: bold !important;
}

.ew-menu-underline-item {
  text-decoration: underline !important;
}


/* Modal content */
.quickview-inner {
  background: #fff;
  padding: 2rem;
  max-width: 900px;
  width: 90%;
  max-height: 70%;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  overflow-y: auto;
}

/* Close button */
.quickview-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Image styling */
.quickview-inner img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Price */
.quickview-inner div {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Dropdown */
.quickview-inner select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Add to Cart button */
.quickview-add-to-cart {
  width: 100%;
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.quickview-inner #tnt-footer,
.quickview-inner .related-products,
.quickview-inner .section-header {
  display: none !important;
}

.ew-has-fourth-lvl>a {
  font-weight: bold !important;
}

.postex-track-wrapper {
  padding: 120px 0px;
}

.track-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.track-input {
  width: 100%;
  padding: 10px;
  font-size: 16x;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.track-btn {
  width: 100%;
  padding: 10px;
  background-color: #ff4848;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.tracking-result {
  margin-top: 20px;
}

.tracking-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.tracking-table th,
.tracking-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 16px;
  color:#000;
}

.tracking-table th {
  background-color: #ff4848;
  font-weight: 600;
  color: #fff;
}

.tracking-table tr:last-child td {
  border-bottom: none;
}

.pospte-tracking-inner {
  max-width: 600px;
  margin: auto;
}

@media(max-width:600px) {
  .postex-track-wrapper {
    padding: 60px 0px;
  }

  .tracking-table th,
  .tracking-table td {
    font-size: 14px;
  }
}

.list-menu-sub-child {
    margin-left: 20px !important;
    color: #000;
}