.tnt-home-block__collection-announcement-bar {
  margin-top: 1.3rem;
}

.tnt-announcement-bar {
  background-color: #ff4d4d;
  border-radius: 50px;
  overflow: hidden;
  height: 30px;
  margin-block: 10px 20px;
}
.tnt-announcement-bar .tnt-swiper-container {
  width: 100%;
  height: inherit;
}
.tnt-announcement-bar .swiper-slide {
  color: #fff;
  font-weight: bold;
  padding: 0 6px;
  width: auto !important;
  white-space: nowrap;
  font-weight: 400;
  font-size: 13.48px;
  text-align: center;
  height: inherit;
  line-height: 30px;
}

.tnt-home-block__collection-announcement-bar
  .tnt-home-block__collection
  .tnt-home-block__title {
  display: none;
}

@media (max-width: 767px) {
  .tnt-home-block__collection-announcement-bar {
    display: none !important;
  }
}
