.tnt-home-block__info-item {
  text-align: center;
}

.tnt-home-block__info-wrap {
  background: #f6f6f6;
  padding: 15px 25px;
  margin-top: 9px;
}

.img-responsive.tnt-home-block__info-item-icon {
    max-width: 50px;
    height: 50px;
    object-fit: contain;
}

.tnt-home-block__info-btn {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  color: #373737;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.tnt-home-block__info-btn .chevron-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.tnt-home-block__info-item-text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.tnt-home-block__info-item-list .tnt-home-block__info-item:nth-child(2){
  border-inline: 1.5px solid #8F8F8F;
    padding-inline: 3rem;
}
