.product__title h1 {
  color: #333;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 178.571% */
}

.product__text.subtitle {
  color: #A4A4A4;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}

.product__info-container .badge {
  display: none !important;
}

.product .product__info-container .price {
  margin-top: 30px;
}

.product .product__info-container .price__sale .price-item--regular {
  color: #A4A4A4;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product__info-container .price__sale .price-item--sale {
  color: #333;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product__text.inline-richtext:not(.subtitle) {
  color: #FF4848;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -10px !important;
  margin-bottom: 30px;
}

.form__label {
  color: #333;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product-form__input--pill input[type='radio']+label {
  border-radius: 6px !important;
  border: 1px solid #FF4848 !important;
  color: #000;
  font-family: Helvetica;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-form__input--pill input[type='radio']:checked+label {
  color: #fff;
  background: #FF4848 !important;
}

.product-form__buttons .product-form__submit::before,
.product-form__buttons .product-form__submit::after {
  display: none;
}

.product-form__buttons .product-form__submit {
  border-radius: 6px;
  background: #FF4848;
  border: 1px solid #FF4848 !important;
  color: #FFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
}

.product__info-wrapper .product-form__input {
  margin-bottom: 30px;
}

.tnt-product-offer-wrap {
  display: flex;
  gap: 10px;
}

.tnt-product-offer-block {
  max-width: 240px;
  padding: 10px;
  border-radius: 6px;
  border: 1px dashed #FF4848;
}

.tnt-product-offer-block p {
  color: #000;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tnt-product-props {
  border-radius: 6px;
  background: #FFE9E9;
  padding: 21px 24px;
}

.tnt-product-props ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tnt-product-props ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tnt-product-props ul li span {
  display: flex;
  align-items: center;
}

.accordion__title {
  color: #242E52;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.related-products__heading {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 35.98px;
  letter-spacing: 0.6px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}