.tnt-home-block__info-item {
  text-align: center;
}

.tnt-home-block__title {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 19px;
}

.tnt-home-block__info-wrap {
  background: #f8f8f8f8;
  padding: 30px 15px;
}

.tnt-home-block__info-btn {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
}